In [188]:
# Environment
!nvidia-smi

Thu Apr 13 06:26:30 2023
+---------------------------------------------------------------------------------------+
| NVIDIA-SMI 530.30.02              Driver Version: 530.30.02    CUDA Version: 12.1     |
|-----------------------------------------+----------------------+----------------------+
| GPU  Name                  Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf            Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                                         |                      |               MIG M. |
|=========================================+======================+======================|
|   0  NVIDIA GeForce RTX 3090         On | 00000000:65:00.0 Off |                  N/A |
|  0%   45C    P8               38W / 390W|  23138MiB / 24576MiB |      0%      Default |
|                                         |                      |                  N/A |
+-----------------------------------------+----------------------+----------------------+

+---------------------------------------------------------------------------------------+
| Processes:                                                                            |
|  GPU   GI   CI        PID   Type   Process name                            GPU Memory |
|        ID   ID                                                             Usage      |
|=======================================================================================|
+---------------------------------------------------------------------------------------+

# Download the datasets
    
    A content-based movie recommendation system that uses cosine similarity is a type of recommendation system that analyzes the content or features of movies, such as genres, actors, directors, and plot keywords, to generate recommendations. The cosine similarity measure is used to calculate the similarity between movies based on their feature vectors. This system can provide personalized movie suggestions based on movie content and is particularly useful for recommending niche or less popular movies. However, it may have limitations in capturing complex user preferences or providing serendipitous recommendations outside of the user's known preferences.

In [197]:
!wget https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata/download?datasetVersionNumber=2

--2023-04-13 07:42:33--  https://www.kaggle.com/datasets/tmdb/tmdb-movie-metadata/download?datasetVersionNumber=2
Resolving www.kaggle.com (www.kaggle.com)... 35.244.233.98
Connecting to www.kaggle.com (www.kaggle.com)|35.244.233.98|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /account/login?titleType=dataset-downloads&showDatasetDownloadSkip=False&messageId=datasetsWelcome&returnUrl=%2Fdatasets%2Ftmdb%2Ftmdb-movie-metadata%2Fversions%2F2%3Fresource%3Ddownload [following]
--2023-04-13 07:42:33--  https://www.kaggle.com/account/login?titleType=dataset-downloads&showDatasetDownloadSkip=False&messageId=datasetsWelcome&returnUrl=%2Fdatasets%2Ftmdb%2Ftmdb-movie-metadata%2Fversions%2F2%3Fresource%3Ddownload
Reusing existing connection to www.kaggle.com:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘download?datasetVersionNumber=2’

download?datasetVer     [ <=>                ]   5.34K  --.-KB/s    in 0s

2023-04-13 07:42:33 (31.2 MB/s) - ‘download?datasetVersionNumber=2’ saved [5465]

In [201]:
!ls 'download?datasetVersionNumber=2'

'download?datasetVersionNumber=2'

# Import the necessary libraries

In [191]:
import zipfile
import pandas as pd
import numpy as np

# Extract the datasets

In [4]:
zipfile = zipfile.ZipFile("ml-latest.zip")
zipfile.extractall()
zipfile.close()

In [11]:
!ls ml-latest

README.txt	   genome-tags.csv  movies.csv	 tags.csv
genome-scores.csv  links.csv	    ratings.csv

# Load the datasets

In [192]:
genome_tags = pd.read_csv("ml-latest/genome-tags.csv", header=0, names=["tagId", "genome_tag"])
movies = pd.read_csv("ml-latest/movies.csv")
tags = pd.read_csv("ml-latest/tags.csv")
genome_scores = pd.read_csv("ml-latest/genome-scores.csv")
links = pd.read_csv("ml-latest/links.csv")
ratings = pd.read_csv("ml-latest/ratings.csv")

In [32]:
genome_tags.head()

   tagId    genome_tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [14]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
tags.head()

   userId  movieId           tag   timestamp
0      14      110          epic  1443148538
1      14      110      Medieval  1443148532
2      14      260        sci-fi  1442169410
3      14      260  space action  1442169421
4      14      318  imdb top 250  1442615195

In [16]:
genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02900
1        1      2    0.02375
2        1      3    0.05425
3        1      4    0.06875
4        1      5    0.16000

In [17]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [18]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

#